<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/user/IdeaProjects/MobileTesting/src/test/java/AnCrypto/importWallet.java">
        <classes>
            <class name="AnCrypto.importWallet">
                <methods>
                    <include name="CLickImportYourWallet"/>
                    <include name="NameYourWallet"/>
                    <include name="EnterSecretCode"/>
                    <include name="SetPinAndConfirmPin"/>
                </methods>
            </class>
            <class name="AnCrypto.SettingsScreen">
                <methods>
                    <include name="OpenSettingsScreen"/>
                    <include name="OpenAllOptions"/>
                    <include name="OpenProfileScreen"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>